{% extends 'base.html' %}
{% block content %}
  <h1>Title: {{ movie.title }}</h1>
  
  <h3>Imdb: <a href="{{ movie.imdb_url }}">{{ movie.imdb_url }}</a><br/>
      Released: {{ release_date }}</br/>
      ID: {{ movie.movie_id }}</h3>
  <hr>
  <!--if user is logged in, let them create a rating-->
  {% if 'user_email' in session %}
    <form action='/add-rating' method="POST">
      <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
      <label>Enter your rating (1-5): </label><input type="number" min="1" max="5" name="score" required>
      <p>1 = Terrible! 5 = Awesome!</p>
      <input type="submit" value="Submit rating">
    </form>
  {% endif %}
  <!-- existing ratings for this film-->
  <h3>Ratings:</h3>
  <ul> 
    {% for rating in movie.ratings %}
      <li>
        <a href="/users/{{rating.user_id}}">User email: {{ rating.user.email }}</a>
        <br/> <strong>Score: {{ rating.score }}</strong>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
